<div class="right_col" role="main">
	<div class="">
		<div class="row top_tiles">
			<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
				
			</div>
			<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
			
			</div>
			<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
				
			</div>
			<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="tile-stats">
					<div class="icon"><i class="fa fa-check-square-o"></i></div>
					<div class="count"><%=MailTemplate.count%></div>
					<h3>Templates</h3>
					<p>Marketing Templates created.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="">

				<div class="clearfix"></div>

				<div class="row">

					<div class="clearfix"></div>

					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<h2>Mail Templates</h2>
								<ul class="nav navbar-right panel_toolbox panel_button">
									<li>
										<%= link_to(content_tag(:i, nil, :class=>"fa  fa-plus"),new_mail_template_path, :"data-toggle"=>"tooltip", :"data-placement"=>"top", :title=>"", :rel=>"nofollow", :"data-original-title"=>"New")%>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>

							<div class="x_content">
								<% if notice.present?%>
								<div class="alert alert-success">
									<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
									<%= notice %>
								</div>
								<% end %>
								<div class="table-responsive">
									<table class="table table-striped jambo_table bulk_action">
										<thead>
											<tr class="headings">

												<th class="column-title">Subject</th>
												<th class="column-title">Send Campaign</th>
											</th>
										</thead>
										<tbody>
											<% @mail_templates.each_with_index do |mail_template, index| %>
												<tr class="<%= index.odd? ? 'odd' : 'even'%> pointer">
													<td><%= mail_template.subject %></td>
													<td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-paper-plane"), edit_mail_template_path(mail_template) %></td>
												</tr>
											<% end %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>