<%= form_for(mail_template, html: {:class=>"form-horizontal form-label-left template_form", :novalidate => nil, multipart: true}) do |f| %>
  <% if mail_template.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(mail_template.errors.count, "error") %> prohibited this mail_template from being saved:</h2>

      <ul>
        <% mail_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if !f.object.new_record?%>

    <div class="item form-group">
      <%= f.label :csv, :class=>"control-label col-md-12 col-sm-12 col-xs-12" do %>
      Mail List CSV (just for send mail, this info is not going to be stored)
      <%end%> 
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= f.file_field :csv, :class=>"form-control col-md-7 col-xs-12", :accept=>".csv" %>
      </div>
    </div>
    <p class="button upload"></p>
    <hr>
    <br>

    <div class="item form-group">
      <%= f.label :mail_list, :class=>"control-label col-md-12 col-sm-12 col-xs-12" do %>
      Mail List (just for send mail, this info is not going to be stored)
      <%end%> 
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= f.text_field :mail_list, :class=>"form-control col-md-7 col-xs-12" %>
      </div>
    </div>
    <%=link_to("Cancelar", mail_templates_path, :class=>"btn btn-primary")%>
    <button id="send" type="submit" class="btn btn-success">Save</button>
    <%= content_tag(:a, "Update and Send Mail", :class => "btn btn-success send_mail")%>
    <hr>
    <br>
  <%end%>

  <div class="item form-group">
    <%= f.label :subject, :class=>"control-label col-md-1 col-sm-1 col-xs-12" do %>
    subject <span class="required">*
    <%end%> 
    <div class="col-md-11 col-sm-11 col-xs-12">
      <%= f.text_field :subject, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :content, :class=>"control-label col-md-1 col-sm-1 col-xs-12" do %>
    Template <span class="required">*
    <%end%> 
    <div class="col-md-11 col-sm-11 col-xs-12">
      <%= f.bootsy_area :content, :class=>"form-control col-md-7 col-xs-12", editor_options: { :blockquote => true, :font_styles => true, :emphasis => true, :lists => true, :html => true, :link => true, :image => true, :color => true, table: true, tr: true, td: true }%>
    </div>
  </div>
  <% if f.object.new_record?%>
    <div class="form-group">
      <div class="col-md-6 col-md-offset-3">
        <%=link_to("Cancelar", mail_templates_path, :class=>"btn btn-primary")%>
        <button id="send" type="submit" class="btn btn-success">Save</button>
      </div>
    </div>
  <%end%>
  <% if !f.object.new_record?%>
    <script>

      $(document).ready(function(){
        $(".send_mail").on("click",function(){
          var template_form = $(".template_form").serialize();
          $.getScript("<%= send_mail_template_path %>?"+template_form, function() { })
          .done(function( s, Status ) {
            alert("The mail has been delivered successfully");
          })
          .fail(function( jqxhr, settings, exception ) {
            
            var exceptionMessages = ""
            if (IsJsonString(jqxhr.responseText)){
              var array = JSON.parse(jqxhr.responseText);
              jQuery.each(array, function(i, val) {
                exceptionMessages += i + " " + val + "\n";
              });
            }else {
              exceptionMessages += jqxhr.responseText;
            }
            
            alert("Please try Again, the mail could not be delivered\n" + exceptionMessages);
          });;
        });  
        
        $('input[type="file"]').fileupload({
          url: "<%= send_csv_mail_template_path %>",
          type: "PATCH",
          dataType: 'json',
          add: function (e, data) {
              $(".button.upload").html("");
              data.context = $('<button/>').html('Update and Send Mail To CSV file').addClass("btn btn-success send_csv_mail")
                .appendTo($(".button.upload"))
                .click(function () {
                    data.context = $('<p/>').text('Uploading...').replaceAll($(this));
                    data.submit();
                });
          },
          done: function (e, data) {
              $(".button.upload").html("");
              data.context.text('Upload finished.');
              $.each(data.result.files, function (index, file) {
                  alert("The mail has been delivered successfully");
              });
          },
          fail: function( e, data ) {
            var exceptionMessages = ""
            jqxhr = data._response.jqXHR;
            if (IsJsonString(jqxhr.responseText)){
              var array = JSON.parse(jqxhr.responseText);
              jQuery.each(array, function(i, val) {
                exceptionMessages += i + " " + val + "\n";
              });
            }else {
              exceptionMessages += jqxhr.responseText;
            }
            $(".button.upload").html("");
            data.context.text('File could not be uploaded');
            alert("Please try Again, the mail could not be delivered\n" + exceptionMessages);
          },
          progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .bar').css(
                'width',
                progress + '%'
            );
          }
        });




        function IsJsonString(str) {
          try {
              JSON.parse(str);
          } catch (e) {
              return false;
          }
          return true;
        }
      });
    </script>
  <%end%>
<% end %>