<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h1>MAILTHEM</h1>
  <div>
    <%= f.email_field :email, autofocus: true, :placeholder => "eMail", :class=>"form-control" %>
  </div>

  <div>
    <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :class=>"form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <!--<div>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>-->
  <% end -%>

  <div>
    <%= f.submit "Log In", :class=>"btn btn-default submit"%>
    <%= render "users/shared/links" %>
  </div>
  <div class="clearfix"></div>
    <br />

    <div>
      <h1><i class="fa fa-cogs"></i> MailThem Platform</h1>
    </div>
<% end %>