<%= form_for(resource, as: resource_name, url: password_path(resource_name)) do |f| %>
	<h1>ELI</h1>
	<div>
		<%= f.email_field :email, autofocus: true, :placeholder => "eMail", :class=>"form-control" %>
	</div>

	<div>
		<%= f.submit "Enviar instrucciones", :class=>"btn btn-default submit"%>
		<%= render "users/shared/links" %>
	</div>
	<div class="clearfix"></div>
	<br />

	<div>
		<h1><i class="fa fa-cogs"></i> CIE Settings</h1>
		<p>©2017 All Rights Reserved. BI Solutions. Privacy and Terms</p>
	</div>
<% end %>