
#notice {
  color: green;
}

.field_with_errors input {
  border: 1px solid red
}

#error_explanation {
  padding: 7px;
  border-bottom: solid 1px red;
  margin-bottom: 20px;
  ul {
    margin: 0;
    list-style: none;
    li:before {
      content: "\f0e5";
      font-family: FontAwesome;
      padding-right: 0.5em;
    }
  }

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #f2dede;
    color: #a94442;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

ul.panel_button > li > a {
  font-size: 1.2em;
}
.table-responsive {
  overflow-y: hidden;
}
blockquote h4 {
  padding-left: 15px;
  padding-bottom: 10px;
}
.simple-calendar td {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.full_calendar td.fc-day:hover, .simple-calendar td:hover{
  background-color: rgba(38, 185, 154, 0.07);
  cursor: pointer;
}
.full_calendar thead.fc-head, .simple-calendar thead{
  background: rgba(52, 73, 94, 0.94) none repeat scroll 0 0;
  color: #ecf0f1;
}
.simple-calendar .day {
  height: 100px;
}
.simple-calendar thead th{
  text-align:center;
}
.simple-calendar h1 {
  font-size: 1em;
  text-align: right;
}
.simple-calendar .fc-button {
  padding: 5px 5px 2px;
  cursor: pointer;
}
.simple-calendar .fc-icon:hover {
  color:rgba(52, 73, 94, 0.94) !important;
}
.simple-calendar .fc-button:hover {
  background-color: #ddd !important;
  color:rgba(52, 73, 94, 0.94) !important;
}
.day-hour {
  padding: 5px 10px;
}

.day-hour:nth-of-type(2n+1) {
  background-color: #fff;
}
.today .day-hour:nth-of-type(2n+1) {
  background-color: #ffffc0
}
#week_calendar_container td {
  padding: 0 !important;
}
.day-hour div{
  padding-left: 10px;
  padding-top: 5px;
}
.full_calendar {
  text-transform: capitalize;
}
.prev-month, td.fc-other-month {
  background: #ddd none repeat scroll 0 0;
}
.prev-month, .fc-other-month {
  opacity: 1 !important;
  border-right: 1px solid white !important;
  border-left: 1px solid white !important;
}
.fc-other-month > .fc-day-number {
  color: #73879c;
}
.nav-md .container.body .col-md-3.left_col{
  z-index: 2;
}
.footer_fixed footer {
  z-index: 1;
}