<!DOCTYPE html>
<html>
<head>
	<title><%=@page_title%></title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'false' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'false' %>
	<%= favicon_link_tag 'favicon.ico', type: 'image/png' %>
	<%= favicon_link_tag 'favicon.ico'%>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes"/>
</head>
<body class="login">
	<%=devise_error_messages!%>
	<div>
		<div class="login_wrapper">
			<div class="animate form login_form">
				<section class="login_content">
					<%= yield%>
				</section>
			</div>
		</div>
	</div>
</body>
</html>