<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <h1>MAILTHEM Sign Up</h1>
  <div>
    <%= f.email_field :email, autofocus: true, :placeholder => "eMail", :class=>"form-control" %>
  </div>

  <div>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :class=>"form-control" %>
  </div>

  <div>
    <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Password Confirmation", :class=>"form-control" %>
  </div>



  <% if devise_mapping.rememberable? -%>
    <!--<div>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>-->
  <% end -%>

  <div>
    <%= f.submit "Sign Up", :class=>"btn btn-default submit"%>
    <%= render "users/shared/links" %>
  </div>
  <div class="clearfix"></div>
    <br />

    <div>
      <h1><i class="fa fa-cogs"></i> MailThem Platform</h1>
    </div>
<% end %>